.overlay 
{
	position: absolute;
	width: 300px;
	height: 300px;
	background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQV8rvNz-BcJGd2WcxBZaneQXDtEAewiUwnjw&usqp=CAU);
    	background-size: cover;
    	justify-content: center;
	transition: 0.5s ease;
}

/* had help with zed for the overlay part */

.overlaycontent 
{
      color: white;
      padding: 20px;
      top: -15%;
      position: relative;
      text-align: center;
}

.content 
{
	position: relative;
	width: 300px;
	height: 230px;
	overflow: hidden;
}

.content:hover .overlay {
	top: 0;
}

.main 
{
	display: flex;
	flex-wrap:wrap wrap;
	flex-wrap: wrap;
	gap: 45px;
	justify-content: center;
	font-size: 14px;

}

.header
{
	border: double;
	border-color: white;
	
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	width: 450px;
	margin: auto;


}

.start
{
	border: dashed;
	border-color: white;
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	width: 780px;
	text-align: center;
	margin: auto;

	font-size: 20px;


}

.background 
{
	background-image: url(https://w.forfun.com/fetch/96/964db39e1727e2b87a05e091ebecf29a.jpeg);
	background-attachment: fixed;
	background-size: cover cover;
}

img 
{
	width: 300px;
	height: 300px;
	object-fit: cover;

}


h3 
{
	text-align: center;
	color: white;
}

h2 , .footer
{
	color:#F3CD08 
 ;

}

body 
{
	background: rgb(2,0,36);
background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,59,121,1) 0%, rgba(37,8,138,1) 0%, rgba(56,75,215,1) 48%, rgba(33,69,187,1) 58%, rgba(6,62,156,1) 74%, rgba(6,68,160,1) 83%, rgba(5,91,175,1) 89%, rgba(4,126,198,1) 97%, rgba(2,162,222,1) 100%, rgba(0,212,255,1) 100%, rgba(0,212,255,1) 100%);
}